.section-content__community {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-content__community-link {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 5rem;
    padding: 2rem;
    text-shadow: 0 0 0.5rem black;
}

.section-content__community-icon {
    transition: all ease-in 0.3s;
}

.section-content__community-link:hover{
    text-shadow: 0 0 0.5rem rgb(0, 255, 255);
    color: rgb(0, 255, 255);
    
}