#____notification____ {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 9999;
    /* background: rgba(0, 0, 0, 0.2); */

    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);

    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#____notification____.actived {
    transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
}

#____notification____ > div {
    background: rgb(44, 44, 44);
    color: white;
    overflow: hidden;
    box-shadow: 0 0 3px black;
    border-radius: 4px;
}