


/*==================================================================*\
||                                                                  ||
||  Project     : Coding Cat - Travel                               ||
||  File name   : ____Grid.css                                      ||
||  File type   : Cascading Stylesheet                              ||
||  Size (line) :                                                   ||
||  Author      : Hoang Duc Kiem Luyen                              ||
||  Created on  : 26/04/2021 | 12:30                                ||
||  Copyright   : Coding Cat                                        ||
||  Description : This is grid css file                             ||
||                                                                  ||
\*==================================================================*/


/*========================== Begin: CODE ============================*/

:root {

    --gutter-size:          3rem;
    --col-padding:          calc(var(--gutter-size) / 2);
    --row-negative-margin:  calc(var(--gutter-size) / -2);

    --col-size-1: 8.333334%;
    --col-size-2: 16.666667%;
    --col-size-3: 25%;
    --col-size-4: 33.333334%;
    --col-size-5: 41.666667%;
    --col-size-6: 50%;
    --col-size-7: 58.333334%;
    --col-size-8: 66.666667%;
    --col-size-9: 75%;
    --col-size-10: 83.333334%;
    --col-size-11: 91.666667%;
    --col-size-12: 100%;
}

.grid {
    width: 100%;
    overflow-x: hidden;
}

.wide {
    width: 120rem;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    margin: 0 var(--row-negative-margin);
    display: flex;
}

.grid__col {
    padding: 0 var(--col-padding);
}

/*==== PC ====*/
@media (min-width: 64.000em) {
    .wide {
        width: 120rem;
    }

    .l-c-0 {
        display: none;
    }
    
    .l-c-1 {
        width: var(--col-size-1);
    }
    
    .l-c-2 {
        width: var(--col-size-2);
    }
    
    .l-c-3 {
        width: var(--col-size-3);
    }
    
    .l-c-4 {
        width: var(--col-size-4);
    }
    
    .l-c-5 {
        width: var(--col-size-5);
    }
    
    .l-c-6 {
        width: var(--col-size-6);
    }
    
    .l-c-7 {
        width: var(--col-size-7);
    }
    
    .l-c-8 {
        width: var(--col-size-8);
    }
    
    .l-c-9 {
        width: var(--col-size-9);
    }
    
    .l-c-10 {
        width: var(--col-size-10);
    }
    
    .l-c-11 {
        width: var(--col-size-11);
    }
    
    .l-c-12 {
        width: var(--col-size-12);
    }
}



/*==== Tablet ====*/
@media (min-width: 47.5em) and (max-width: 63.938em) {
    .wide {
        width: 80rem;
    }
    
    .grid__row {
        padding: 0 var(--col-padding);
        flex-wrap: wrap;
    }

    :root {
        --gutter-size: 1.6rem;
    }

    .m-c-0 {
        display: none;
    }
    
    .m-c-1 {
        width: var(--col-size-1);
    }
    
    .m-c-2 {
        width: var(--col-size-2);
    }
    
    .m-c-3 {
        width: var(--col-size-3);
    }
    
    .m-c-4 {
        width: var(--col-size-4);
    }
    
    .m-c-5 {
        width: var(--col-size-5);
    }
    
    .m-c-6 {
        width: var(--col-size-6);
    }
    
    .m-c-7 {
        width: var(--col-size-7);
    }
    
    .m-c-8 {
        width: var(--col-size-8);
    }
    
    .m-c-9 {
        width: var(--col-size-9);
    }
    
    .m-c-10 {
        width: var(--col-size-10);
    }
    
    .m-c-11 {
        width: var(--col-size-11);
    }
    
    .m-c-12 {
        width: var(--col-size-12);
    }
}

/*==== mobile ====*/
@media (max-width: 47.438em) {
    html {
        font-size: 55%;
    }
    .wide {
        padding: 0 var(--gutter-size);
        width: 100%;
    }

    .grid__row {
        flex-wrap: wrap;
    }

    :root {
        --gutter-size: 1rem;
    }

    .s-c-0 {
        display: none;
    }
    
    .s-c-1 {
        width: var(--col-size-1);
    }
    
    .s-c-2 {
        width: var(--col-size-2);
    }
    
    .s-c-3 {
        width: var(--col-size-3);
    }
    
    .s-c-4 {
        width: var(--col-size-4);
    }
    
    .s-c-5 {
        width: var(--col-size-5);
    }
    
    .s-c-6 {
        width: var(--col-size-6);
    }
    
    .s-c-7 {
        width: var(--col-size-7);
    }
    
    .s-c-8 {
        width: var(--col-size-8);
    }
    
    .s-c-9 {
        width: var(--col-size-9);
    }
    
    .s-c-10 {
        width: var(--col-size-10);
    }
    
    .s-c-11 {
        width: var(--col-size-11);
    }
    
    .s-c-12 {
        width: var(--col-size-12);
    }
}
/*========================== End: CODE ============================*/